{% extends 'blank.html' %}
{% load static %}

{% block body%}

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="message error">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}

<hr></hr>
<h1>Verify OTP</h1>
<hr></hr> 
<form method="post">
    {% csrf_token %}

    <label for="email">Email:</label>
    <input type="email" name="email" required><br>

    <label for="otp">OTP:</label>
    <input type="text" name="otp" required><br>
  
    <button type="submit">Verify Otp</button>
  </form>  
{% endblock %}